/* -------- Reset -------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; }

* { box-sizing: border-box; }

/* -------- Global -------- */

body { background-color: #f9f9f9; color: #52585f; font-family: 'Open Sans', sans-serif; padding: 0; }
a { color:#96abb5; }
a:hover { color:#26a9e7;}

header { background-color: #fff; border-top: 5px solid #96abb5; width: 100%; }
header #header-wrap { margin:0 auto; max-width: 960px; padding: 40px; overflow: hidden;}
header #header-wrap #logo {text-transform: uppercase;}
header #header-wrap #logo h1 a {font-size: 3em; font-weight: 700; color: #59666c;}
header #header-wrap #logo h2 {font-size: .8em; font-weight: 700; padding:3px; color: #d1d9dd; letter-spacing: .2em;}
header #header-wrap #nav { text-align: right;}
header #header-wrap #nav ul li { display: inline-block; margin-left:50px; font-size: 1em;}
header #header-wrap #logo, header #header-wrap #nav { width:49%; vertical-align: middle; display: inline-block;}

#grid-container { margin: 0 auto; max-width: 960px; padding: 80px 30px; clear: both; }

footer { margin:0 auto; max-width: 960px; padding: 0 40px 40px; overflow: hidden;}
footer ul li { display: inline-block; margin-right:20px; font-size:.8em; color:#d4d3d3; line-height: 24px;}
footer ul li:last-child {clear: both; display: block;}
footer ul li strong {font-weight: 600;}


/* -------- Homepage -------- */

ul.grid { text-align: center; width: 100%; }
ul.grid li { -webkit-transform: translate3d(0, 0, 0); background-color: #fff; -webkit-box-shadow: 0 1px 1px 0 #c6ccd2; box-shadow: 0 1px 1px 0 #c6ccd2; display: inline-block; margin: 0 30px 30px 0; max-width: 300px; width: 30.0%; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
ul.grid li:nth-child(3n+3) { margin-right: 0; }
ul.grid li:last-child { margin-right: 0; }

@media screen and (max-width: 960px) { ul.grid li { max-width: 100%; width: 46.66667%; }
  ul.grid li:nth-child(3n+3) { margin-right: 30px; }
  ul.grid li:nth-child(2n+2) { margin-right: 0; } }
@media screen and (max-width: 600px) { ul.grid li { width: 100%; }
  ul.grid li:nth-child(3n+3), ul.grid li:nth-child(2n+2) { margin-right: 0; } }

ul.grid li a { display: inline-block;}
ul.grid li .img .img-wrap { cursor: pointer; overflow: hidden; position: relative; }
ul.grid li .img .img-wrap img { -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; height: auto; max-width: 100%; vertical-align: bottom; overflow: hidden; }
ul.grid li .img .img-wrap .overlay { background-color: #26a9e7; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; bottom: 0; color: #fff; height: auto; left: 0; opacity: 0; position: absolute; right: 0; top: 0; width: 100%; z-index: 99; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
ul.grid li .img .img-wrap .overlay a { color: #fff; padding: 0; bottom: 0; height: auto; left: 0; position: absolute; right: 0; top: 0; width: 100%;}
ul.grid li .img .img-wrap .overlay.mobile { background: #26a9e7 url(../images/mobile.svg) no-repeat center center; background-size: auto 25%;}
ul.grid li .img .img-wrap .overlay.desktop { background: #26a9e7 url(../images/desktop.svg) no-repeat center center; background-size: auto 25%;}
ul.grid li .img .img-wrap .overlay.mobtop { background: #26a9e7 url(../images/mobtop.svg) no-repeat center center; background-size: auto 25%;}
ul.grid li:hover .img .img-wrap .overlay { opacity: 1; }
ul.grid li .info { text-align: left; }
ul.grid li .info h1 a { font-size: 1em; font-weight: 600; line-height: 1.2; padding: 15px 20px 13px; display: block; }
ul.grid li .info h1 a:after {content: "\203A"; position: absolute; right: 20px; font-size:1.2em; line-height:.9em; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
ul.grid li:hover .info h1 a:after {right: 17px;}


/* -------- Mobile -------- */

@media only screen and (max-width: 515px) { 
	header #header-wrap { padding: 30px;}
	header #header-wrap #logo, header #header-wrap #nav { width:100%; text-align: center;}
	header #header-wrap #nav ul li { margin: 0; padding: 20px 0 0;}
	header #header-wrap #nav ul li a { padding: 20px; font-size: 1.2em;}

	#grid-container { padding: 30px; }

	footer ul li { font-size: 1em;}

}